#enter {
    position: relative;
    background-image: url("./img/enter(2).png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    border: 0;
    height: 100%;
    width: 10%;
    left: 1%;
    top: -12.5%;
    background-color: transparent;
}

h4 {
    position: absolute;
    left: 35%;
    font-family: monospace;
    font-size: 24px;
}

#textIn {
    position: relative;
    border: 0;
    width: 89%;
    height: 100%;
    background-color: transparent;
    font-family: monospace;
    font-size: 24px;
}

#textIn:focus {
    outline: none;
}

.boxinput {
    position: absolute;
    border: 2px solid black;
    width: 30%;
    height: 5%;
    left: 35%;
    top: 10%;
    border-radius: 10px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    height: 50%;
    left: 35%;
    top: 17.5%;
}

.task {
    display: inline-flex;
    background-color: transparent;
    border: 2px black double;
    border-radius: 10px;
    margin-top: 10px;
}

#checkbox {
    position: relative;
    width: 7.5%;
    height: 50%;
    top: 20%;
}

#checkbox:checked {
    outline: none;
    background-color: black;
    color: black;
}

p {
    width: 80%;
    font-size: 24px;
    font-family: monospace;
}

#del {
    position: relative;
    width: 10%;
    height: 80%;
    top: 10%;
    background-color: transparent;
    background-image: url(/src/img/bin.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border: 0;
    border-radius: 10px;
    box-shadow: none;
    transition: 0.5s linear all;
}

#checkbox:active {
    background-color: black;
    color: black;
}

#del:hover {
    box-shadow: 0 1px 1px 0 black;
}